body {
  font-family: 'Jaldi', sans-serif;
  width: 90%;
  margin: auto;
  /* referenced background: https://www.gradientmagic.com/collection/confetti/gradient/1600773559063 */
  background-image: repeating-linear-gradient(283deg, transparent 0px, transparent 3px,rgb(255,255,255) 3px, rgb(255,255,255) 28px),repeating-linear-gradient(511deg, transparent 0px, transparent 3px,rgb(255,255,255) 3px, rgb(255,255,255) 28px),linear-gradient(268deg, hsl(300,76%,69%),hsl(351.429,76%,69%),hsl(42.857,76%,69%),hsl(94.286,76%,69%),hsl(145.714,76%,69%),hsl(197.143,76%,69%),hsl(248.571,76%,69%));
}



main > h1 {
  text-align: center;
  font-size: 60px;
  margin-top: 1em;
  font-family: 'Itim', cursive;
  text-decoration: underline;
}

#container {
  /* width: 90%; */
  padding: 3em 1em 3em 1em;
  border: 4px black solid;
  /* margin: auto; */
  display: flex;
  margin-top: 3em;
  border-radius: 30px;
  box-shadow: 3px 5px 5px rgba(0, 0, 0, .25);
  background-color: white;
}

#thankyou {
 text-align: center;
 margin-top: 2em;
 font-size: 48px;
 font-family: 'Itim', cursive;
}

#imgOne, #imgTwo, #imgThree {
  width: 28%;
  /* width: 300px; */
  height: 300px;
  padding: 1em;
  border: 6px black ridge;
  margin: auto;
  border-radius: 50px;
  background: black;
  box-shadow: 3px 5px 5px rgba(0, 0, 0, .25);
} 

#imgOne:hover, #imgTwo:hover, #imgThree:hover {
  box-shadow: 0px 0px 0px 6px rgb(103, 209, 255);
  cursor: pointer;
}


#results {
  text-align: center;
  margin-top: 1em;
  font-size: 24px;
  border: 3px black solid;
  border-radius: 50px;
  padding: 15px 10px;
  background-color: rgb(230, 230, 230);
}

#results:hover {
  cursor: pointer;
  background-color: rgb(177, 177, 177);
  box-shadow: 3px 5px 5px rgba(0, 0, 0, .25);
}

#resultslist {
  margin-top: 3em;
  font-size: 24px;
  overflow: auto;
  height: 400px
}

#resultslist > li:first-child {
  margin-top: 0;
}

#resultslist > li{
  margin-top: 5px;
  padding: 3px
}


ul li:nth-child(4n+1) {
 color: rgb(124, 198, 124)
}
ul li:nth-child(2n+2) {
  color: rgb(128, 164, 255)
}
ul li:nth-child(4n+3) {
  color: rgb(255, 204, 110)
}
ul li:nth-child(4n+4) {
  color: rgb(255, 88, 88)
}